---
const { svg } = Astro.props
const { title } = Astro.props
const { text } = Astro.props

---

<style>

    .feature-card > h2 {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }

    .feature-card > svg {
        fill: rgb(67, 64, 62);
        transition: all .3s ease;


        &&:hover {
            fill: rgb(242, 196, 23);
        }
    }

</style>

<div class="feature-card flex flex-col items-center">
  <svg
    class="mb-5"
    xmlns="http://www.w3.org/2000/svg"
    height="64px"
    viewBox="0 -960 960 960"
    width="64px"
    fill="#222"
  >
    <path
      d={svg}
    ></path>
  </svg>

  <h2 class="text-2xl mb-7">{title}</h2>
  <p class="text-center">
    {text}
  </p>
</div>
