---
import FeatureCard from "./Cards/FeatureCard.astro";
---

<style>
  .feature-highlights {
    
    margin: 0px 128px 0px 128px;
    margin-bottom: 20px;
    padding: 100px 80px;
  }
</style>

<section class="feature-highlights flex flex-col items-center justify-center">
  <h2 class="text-3xl mb-5 font-semibold">Una apuesta segura</h2>
  <p
    class="mb-5"
  >
    Trabajamos con los mejores componentes asegurando la máxima calidad de
    nuestros productos.
  </p>
  <div class="flex justify-center items-center gap-[10%] bg-white mt-10">
    
    <FeatureCard 
        viewBox="0 -0.5 25 25"
        svg="m4.818 6.664s0 0-.001 0c-1.02 0-1.847-.827-1.847-1.847s.827-1.847 1.847-1.847 1.847.827 1.847 1.847c0 .51-.207.972-.541 1.306-.324.334-.776.541-1.277.541-.01 0-.019 0-.029 0zm-2.97 7.182s0 0-.001 0c-1.02 0-1.847-.827-1.847-1.847s.827-1.847 1.847-1.847 1.847.827 1.847 1.847c0 .51-.207.972-.541 1.306-.324.334-.776.541-1.278.541-.01 0-.021 0-.031 0h.002zm10.152-10.154s0 0-.001 0c-1.02 0-1.847-.827-1.847-1.847s.827-1.847 1.847-1.847 1.847.827 1.847 1.847c0 .51-.207.972-.541 1.306-.324.334-.776.541-1.277.541-.01 0-.019 0-.029 0zm-7.182 17.337s0 0-.001 0c-1.02 0-1.847-.827-1.847-1.847s.827-1.847 1.847-1.847 1.847.827 1.847 1.847c0 .51-.207.972-.541 1.306-.323.334-.775.541-1.276.541-.01 0-.021 0-.031 0zm14.364-13.904c-1.275 0-2.308-1.033-2.308-2.308s1.033-2.308 2.308-2.308c1.275 0 2.308 1.033 2.308 2.308s-1.033 2.308-2.308 2.308zm-7.182 16.875s0 0-.001 0c-1.02 0-1.847-.827-1.847-1.847s.827-1.847 1.847-1.847 1.847.827 1.847 1.847c0 .51-.207.972-.541 1.306-.324.334-.776.541-1.277.541-.01 0-.019 0-.029 0zm10.154-9.231c-.014 0-.031 0-.048 0-.75 0-1.428-.309-1.913-.807l-.001-.001c-.499-.503-.808-1.196-.808-1.961s.308-1.458.808-1.962c.486-.499 1.164-.808 1.914-.808h.05-.003.048c.75 0 1.427.309 1.913.807l.001.001c.499.503.808 1.196.808 1.961s-.308 1.458-.808 1.962c-.486.499-1.164.809-1.915.809-.016 0-.033 0-.049 0h.002zm-2.971 7.643c-.015 0-.032 0-.05 0-.878 0-1.671-.365-2.236-.951l-.001-.001c-.584-.584-.945-1.391-.945-2.283s.361-1.698.945-2.283c.567-.583 1.358-.945 2.234-.945h.054-.003.042c.877 0 1.67.362 2.237.944l.001.001c.588.582.952 1.39.952 2.283s-.364 1.7-.952 2.282c-.567.588-1.361.953-2.24.953-.014 0-.027 0-.04 0z"
        link="#"
        title="Farola inteligente"
    />
    <FeatureCard 
        svg="M480-80q-140-35-230-162.5T160-522v-238l320-120 320 120v238q0 152-90 279.5T480-80Zm0-62q106-35 175.5-128.5T737-480H480v-335l-260 97v196q0 12 .5 20.5T223-480h257v338Z"
        link="#"
        title="Máxima fiabilidad"
    />
    <FeatureCard 
        svg="M480-80q-34 0-57.5-23.5T399-161h162q0 34-23.5 57.5T480-80ZM318-223v-60h324v60H318Zm5-121q-66-43-104.5-107.5T180-597q0-122 89-211t211-89q122 0 211 89t89 211q0 81-38 145.5T637-344H323Zm22-60h271q48-32 76-83t28-110q0-99-70.5-169.5T480-837q-99 0-169.5 70.5T240-597q0 59 28 110t77 83Zm135 0Z"
        link="#"
        title="LEDs de alta eficiencia"
    />
    <FeatureCard 
        viewBox="0 0 213.33 213.33"
        svg="M121.99 116.64c7.72 6.58 40.14 19.98 43.74 59.41H47.6c3.59-39.43 36.02-52.83 43.74-59.41 7.26-6.19 7.26-13.76 0-19.95-7.72-6.58-40.14-19.98-43.74-59.41h118.13c-3.59 39.43-36.02 52.83-43.74 59.41-7.26 6.19-7.26 13.76 0 19.95zm58.73 90.41v-9.5c0-6.39-5.23-11.63-11.63-11.63H44.23c-6.39 0-11.63 5.23-11.63 11.63v9.5h148.11zm0-200.78v9.5c0 6.39-5.23 11.63-11.63 11.63H44.23c-6.39 0-11.63-5.23-11.63-11.63v-9.5h148.11z"
        link="#"
        title="Resistencia a la corrosión"
    />
    
  </div>
</section>
