---

---

<style>
  .goals {
    margin: 0px 128px 0px 128px;
    background-image: url("https://ekiona.com/contenido/media/2018/04/fondo-aspiraciones.jpg");
    background-size: cover;
    padding: 100px 100px;
    color: white;
  }
</style>

<section class="goals mb-20">
  <h2 class="text-4xl text-center mt-[10%]">Nuestras aspiraciones</h2>
  <div class="description-container flex justify-between mt-20 text-xl mb-32">
    <p>¡No hay <a href="#">proyecto</a> que se nos resista!</p>
    <p>Ser referentes en soluciones adaptadas a <a href="#">Smart Cities</a>.</p>
  </div>
</section>
